.dashboard {
  position: absolute;
  top: 0px;
  left: 18%;
  top: 15%;
  /* border: 1px solid yellow; */
  height: 84.8vh;
  width: 80%;
  background-color: rgb(255, 255, 255);
}

.cards {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.cardItem {
  width: 200px;
  /* border: 1px solid yellow; */
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: ghostwhite;
  border-radius: 4px;
}

.para {
  text-align: center;
  width: 100%;
  font-size: 15px;
  height: 100%;
  overflow: scroll;
}
.para::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}
