.navbar {
  border: 1px solid red;
  display: flex;
  align-items: center;
  gap: 22px;
  position: absolute;
  top: 10px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 15px;
  left: 270px;
  width: 500px;
  overflow: scroll;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
